{% extends 'base.html' %}
{% block title %}
    Create Complaint
{% endblock title %}
{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>
                Create Complaint
            </h3>
        </div>
        {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}
        {% from '_formhelpers.html' import render_field  %}
        <form action="{{ url_for('complaint_page.create')}}">
            {{ form.csrf_token}}
            {{ render_field(form.name, class="form-control") }}
            {{ render_field(form.gplace, class="form-control", id="autocomplete", placeholder="Ingresa tu ubicacion") }}
            {{ render_field(form.place, class="form-control",id="place", readonly=true) }}
            {{ render_field(form.lng, class="form-control", id="lng", readonly=true) }}
            {{ render_field(form.lat, class="form-control", id="lat", readonly=true) }}
            {{ render_field(form.description, class="form-control") }}

            <button type="submit" class="btn btn-success"> Create Complaint </button>



        </form> 
    </div>
{% endblock  %}
{% block javascript %}
{% include 'googleapi.html' %}
{% endblock  %}